/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  /* Body Styles */
  body {
    background-color: #fcfdff;
    color: #fffb00;
    width: 100%;
    height: 100vh;
    /*   overflow:hidden; */
  }

  /* Header Styles (Fixed Header) */
  #header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #960000;
    background-color: #5547d6;
  }

  .logo h2{
    font-size: 26px;
    text-shadow: -3px -3px 3px #2c91c0;
  }


   /* Navigation Bar Styles */
   #nav-bar {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
  }
  
  nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    margin-right: 26px;
  }
  
  #nav-bar li {
    color: #000;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    position: relative;
  }

  #nav-bar li a::after{
    content: '';
    background: #fffb00;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }


  #nav-bar li a:hover::after {
    width: 100%;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: min(5vw, 22px);
  }

   
  /* @media screen and (max-width: 768px) {
    .logo h2{
      font-size: 30px;
    }

    #nav-bar ul{
      padding: 20px;
      font-size: 22px;
    }
  } */

  /* HERO SECTION */

  .hero-section{
    height: 250px;
    color: #000;
    margin-top: 100px;
    background-color: #f8b117;
    background-color: #ffff00;
    /* background-color: #eeebdd; */
    padding: 30px;
    text-align: center;
  }

  .hero-section h2{
    font-size: 45px;
    
  }

  .hero-section h4{
    font-size: 23px;
    margin-top: 20px;
    color:#d0312d ;
    color:#1809a0 ;
  }

  .hero-section .follow-us{
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .hero-section .follow-us p{
    font-size: 30px;
    color: #fff;
    color: #f82222;
    font-family: cursive;
  }

  .hero-section a{
    width: 50px;
    margin-left: 10px;
  }

  .hero-section a:hover{
    opacity: 75%;
  }

  @media (max-width: 780px) {

    .hero-section{
      height: auto;
      padding: 10px 10px;
    }
    
    .hero-section h2{
      font-size: 36px;
     }
  
    .hero-section h4{
      font-size: 20px;
      margin-top: 5px;
    }

    .hero-section h4 span{
      display: none;
    }

    .hero-section .follow-us{
      padding: 10px 5px;
    }

    .hero-section .follow-us p{
      font-size: 20px;
      padding-top: 8px
    }

  }


  /* Container Styles */
  .container,
  .gallery {
    padding-top: 90px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

  }
    /* position: relative; */
  
  /*Hero Image */
  #image {
    width: 100%;
    height: 100vh;
  }

  .image2{
    margin-top: 30px;
  }
  
  .text,
  h1 {
    text-align: center;
  }
  
  .text {
    font-weight: bold;
    font-size: 50px;
  }
  
  h1 {
    font-size: 40px;
    color: #fffb00;
    background-color: #960000;
    background-color: #5547d6;
  }

  
  /* Button Styles */
  .btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 2px;
    background: #777;
    cursor: pointer;
  }
  
  /* gallery  */
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
  }
  
  .gallery img,
  .gallery video {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  
  /* collections */
  #collections {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #777;
    border-radius: 3px;
  }

  product-id{
    display: none;
  }
  
  .product img {
    width: 320px;
    height: 250px;
    background: #6bbce2;
  }
  
  .product > h2 {
    margin: 15px 0 10px;
    color: #d0312d;
    color: #5b3de2;
  }
  
  .product > ul {
    margin: 15px 0;
    color: #0b2ce9;
  }
  
  .product > ul > li {
    padding: 5px 0;
    list-style: none;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    font-weight: 400;
    background-color: #cf1815;
  }
  
  .product > button:hover {
    background-color: #960000;
    background-color: #5547d6;
    color: #fff;
    transition: background-color 1s;
  }
  
  @media screen and (max-width: 768px) {
    header {
      height: 90px;
      flex-direction: column;
    }

    .logo{
      margin-top: 15px;
    }
  
    #nav-bar {
      top: 47px;
      left: 0;
      height: 50%;
    }
  
    #collections {
      flex-direction: column;
    }
    .product {
      max-width: 375px;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .product img{
      width: 310px;
    }

     product-id{
    display: block;
  }
      
    #image{
      height: 55vh;
    }
  }
  
  footer {
    margin-top: 30px;
    color: #fffcfc;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
  }

  footer .follow-us{
    margin: 0 0 10px;
  }
  
  footer .follow-us p{
    margin: 5px 13px 12px;
    font-size: 18px;
  }

  footer .follow-us a img{
    width: 40px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    list-style: none;
    padding: 0 20px 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #ffffff;
  }
  
  footer > ul > li > a {
    text-decoration: none;
    color: #fff;
  }
  
  footer > p {
    font: normal 12px sans-serif;
    text-align: center;
    position: absolute;
    right: 2%;
  }
  
